      <tr>
        <td><%= link_to t('review_management'), admin_reviews_path %></td>
        <td><%= t("review_management_description") %></td>
      </tr>
      <tr>
        <td><%= link_to t("reviews.review_settings"), admin_review_settings_path %></td>
        <td><%= t("reviews.manage_review_settings") %></td>
      </tr>